&ACTUATOR_DISK
xLoc         =   {{ "%0.8f"|format(xLoc|float) }}d0
yLoc         =   {{ "%0.8f"|format(yLoc|float) }}d0
zLoc         =   {{ "%0.8f"|format(zLoc|float) }}d0
diam         =   1.0d0 
cT           =   {{ "%0.8f"|format(cT|float) }}d0
useDynamicYaw = .FALSE.
yaw          =   {{ "%0.8f"|format(yaw|float) }}d0
tilt         =   {{ "%0.8f"|format(tilt|float) }}d0
filterWidth  =   {{ "%0.8f"|format(filterWidth|float) }}d0
useCorrection = .{{ useCorrection|upper }}.     ! turns filtering on (Shapiro et al. (2019))

/
/
&DYNAMICTURBINE
use_simple_periodic     = .true.
surge_freq              = {{ "%0.8f"|format(surge_freq|float) }}d0
surge_amplitude         = {{ "%0.8f"|format(surge_amplitude|float) }}d0
pitch_amplitude         = {{ "%0.8f"|format(pitch_amplitude|float) }}d0
verbose                 = .true.
/ 